/* If not using Tailwind's build process, import the compiled Tailwind CSS instead */
@import 'tailwindcss/base.css';
@import 'tailwindcss/components.css';
@import 'tailwindcss/utilities.css';

/* Setter mørk bakgrunn på body */
body {
  background-color: #1a202c; /* Replace with your secondary-dark color value */
  color: #f7fafc; /* Replace with your gray-100 color value */
}